extends layout

block content
  h1= title
  p Witaj na stronie #{title}
  br 
  p Liczba rekordów Galerii User: #{user}
  br 
  p Liczba rekordów Galerii Galeria: #{gallery}
  br 
  p Liczba rekordów Galerii Images: #{image}
  
